/*
 * General settings
 */
#header {
    -fx-text-fill : rgb(0,0,0);
    -fx-font-size: 18px;
}
.app-title {
    -fx-font-weight: 600;
    -fx-font-family: sans-serif;
    -fx-font-style: normal;
    -fx-text-fill: rgb(51, 151, 187);
    -fx-stroke: black;
    -fx-stroke-width: 1px;
    -fx-font-size: 42px;
}

.page-title {
    -fx-font-weight: 600;
    -fx-font-family: sans-serif;
    -fx-font-style: normal;
    -fx-text-fill: rgb(51, 151, 187);
    -fx-stroke: black;
    -fx-stroke-width: 1;
    -fx-font-size: 22px;
}

/*
 * Project view
 */
.feedback-title {
    -fx-padding: 0 0 5px 0;
    -fx-font-weight: 600;
    -fx-font-family: sans-serif;
    -fx-font-style: normal;
    -fx-text-fill: rgb(51, 151, 187);
    -fx-font-size: 22px;
}
.feedback-subtitle {
    -fx-padding: 20px 0 5px 0;
    -fx-font-weight: 600;
    -fx-font-family: fantasy;
    -fx-font-style: normal;
    -fx-text-fill : rgb(0,0,0);
    -fx-font-size: 18px;
}
.feedback-subsubtitle {
    -fx-padding: 2px 0 2px 0;
    -fx-font-weight: 600;
    -fx-font-family: sans-serif;
    -fx-font-style: normal;
    -fx-text-fill : rgb(0,0,0);
    -fx-font-size: 16px;
}
.feedback-gridpane {
    -fx-padding: 5px 10px 5px 15px;
    -fx-hgap: 5px;
    -fx-vgap: 3px;
}
#feedbackSplitPane {
    -fx-orientation: horizontal;
    -fx-min-height: 20px;
}
#feedbackTreeView {
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
    -fx-vbar-policy: as-needed;
    -fx-alignment: baseline-left;
    -fx-orientation: vertical;
    -fx-fill-width: true;
    -fx-fill-height: true;
    -fx-min-width: 220px;
    -fx-min-height: 20px;
}
#feedbackScrollPane {
    -fx-orientation: vertical;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
    -fx-hbar-policy: as-needed;
    -fx-vbar-policy: as-needed;
    -fx-fill-height: true;
    -fx-fill-width: true;
    -fx-min-height: 20px;
}
#feedbackScrollPane VBox {
    -fx-padding: 10px;
}
.error {
    -fx-text-fill: crimson;
}
.warning {
    -fx-text-fill: darkorange;
}
.okay {
    -fx-text-fill: darkgreen;
}


